* {
	border: none;
	border-radius: 7px;
	outline: none;
	font-family: FiraCode;
}


window {
	width: 10%;

	background: rgba(33,39,51,.8);
	border: 3px solid #f7a278;
}

#input {
	margin: 15px;
	
	background: rgba(33,39,51,.7);
	color: #f7a278;
}

#inner-box {
	margin: 15px;
}

#entry {
	min-height: 35px;
	margin-bottom: 15px; 
	padding-left: 20px;

	color: #f7a278;
}

#entry:selected {
	background: rgba(33,39,51,.7);
}

#text:selected {
	color: #f7a278;
}
